html {
  font-family: Ubuntu, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
p,
footer {
  margin: 0;
  padding: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

li *:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
